<!-- Parte per la selezione dei parametri di ricerca -->
<div class="container" ng-controller="MainCtrl as main">
  <form name="main.addForm" class="form" ng-submit="main.search()">
    <div class="form-group">
      <label>Product</label>
      <input type="text" class="form-control" ng-model="main.product" required />
    </div>
    <div class="form-group">
      <label>Order</label>
      <select name="shipping" class="form-control" ng-model="main.order" required >
        <option value="1">Ascending</option>
        <option value="2">Descending</option>
      </select>
    </div>
    <div class="form-group">
      <label>Conditions</label>
      <select name="conditions" class="form-control" ng-model="main.conditions" required >
        <option value="1000">New</option>
        <!-- <option value="1500">New Other</option> -->
        <option value="1750">New with defects</option>
        <option value="2000">Manufacturer refurbished</option>
        <option value="2500">Seller refurbished</option>
        <option value="3000">Used</option>
        <option value="4000">Very Good</option>
        <option value="5000">Good</option>
        <option value="6000">Acceptable</option>
        <option value="7000">For parts or not working</option>
      </select>
    </div>
    <div class="form-group">
      <label>State</label>
      <select name="state" class="form-control" ng-model="main.state" required >
        <option value="IT">Italy</option>
        <option value="DE">Germany</option>
        <option value="US">USA</option>
      </select>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <button class="btn btn-success pull-right"><span class="glyphicon"></span> Search</button>
      </div>
    </div>
  </form>
</div>
<!-- Tabella con i risultati della ricerca -->
<div ng-controller="paginationCtrl">
  <table st-table="rowCollection" class="table table-striped">
    <thead>
    <tr>
      <th st-sort="firstName">Image</th>
      <th st-sort="lastName">last name</th>
      <th st-sort="birthDate">birth date</th>
      <th st-sort="balance">balance</th>
      <th>email</th>
    </tr>
    <tr>
      <th>
        <input st-search="'firstName'" placeholder="search for firstname" class="input-sm form-control" type="search"/>
      </th>
      <th colspan="4">
        <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in rowCollection">
      <td>{{row.firstName | uppercase}}</td>
      <td>{{row.lastName}}</td>
      <td>{{row.birthDate | date}}</td>
      <td>{{row.balance | currency}}</td>
      <td><a ng-href="mailto:{{row.email}}">email</a></td>
    </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" class="text-center">
          <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>